h1 {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  font-size: 25px;
  text-align: center;
}
h3 {
  font-size: 20px;
  text-align: center;
  /* font-size: medium; */
}
img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/10;
  object-fit: contain;
  max-height: 500px;
}
.jjoo {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  height: 100%;
}
.jjoo > div {
  min-height: 300px;
}

.jjooPais-caja1 {
  background-color: rgba(215, 196, 120, 0.5);
}
.jjooPais-caja2 {
  background-color: rgba(0, 30, 97, 0.5);
}
.jjooPais-caja3 {
  background-color: rgba(1, 172, 78, 0.5);
}
.jjooPais-caja4 {
  background-color: rgba(224, 45, 127, 0.5);
}
.jjooPais-caja5 {
  background-color: rgba(254, 0, 1, 0.5);
}
.jjooPais-caja6 {
  background-color: rgba(44, 104, 174, 0.5);
}
.jjooPais-caja7 {
  background-color: rgba(254, 197, 49, 0.5);
}
.MasInfo {
  border: 1px solid #090707;
  background-color: beige;
  top: 20px;
  right: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  display: none;
}
.showInfo {
  display: flex;
}
@media screen and (max-width: 900px) and (min-width: 500px) {
  img {
    aspect-ratio: 5/4;
  }
}
@media screen and (max-width: 500px) {
  .jjoo {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  img {
    aspect-ratio: 9/16;
  }
}
